*{
    font-family: 'Poppins',sans-serif;

}
body{
background-image: url(".");
padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;min-height: 100vh;

}
